.bdr-right,.intro,.navbar-default{position:relative}.navbar-brand:focus,.navbar-toggle:active,.navbar-toggle:focus,a:focus,a:hover{outline:0}#slideImg ul,#slideImgg ul,.nav-tabs{list-style:none}body{-webkit-zoom:76%;-moz-zoom:76%;-o-zoom:76%;zoom:76%}.intro{background:url(../images/bannerschool.png) top center no-repeat;background-size:cover;height:400px;width:100%}.navbar-default{background-color:transparent!important;border-color:transparent!important;z-index:1000;top:40px}.bdr-right{border-right:1px solid #d7d7d7;left:8px}.navbar-brand img{height:60px;margin-top:-30px}.navbar-brand span{background:url(../img/monogram.png) no-repeat;height:100px;position:absolute;width:40%;background-size:contain;top:-20px;left:15%}#navigation{background-color:#374a59;color:#fff;height:38px;/*background:linear-gradient(to right,#333 20.5%,#eee 0,#eee 79%,#333 0)*/background:#333;}#menu .nav.navbar-bar{text-align:center;float:none;margin:0 auto}.navbar{margin-bottom:66px!important;height:40px!important}.navbar-custom ul.nav{text-align:center;float:none;margin:-1px 50px}.navbar-custom ul.nav li a{font-size:16px;letter-spacing:2px;color:#000;text-transform:uppercase;font-weight:700;font-family:myFirstFont;margin-right:3px}.nav>li>a{position:relative;display:block;padding:9px 39.5px!important}.navbar-custom .nav li a{-webkit-transition:background .3s ease-in-out;-moz-transition:background .3s ease-in-out;transition:background .3s ease-in-out}.navbar-custom .nav li a:focus,.navbar-custom .nav li a:hover,.navbar-custom .nav li.active{outline:0;background-color:rgba(255,255,255,.2)}.navbar-toggle{padding:0 6px;font-size:14px;color:#fff}.nav li ul.dropdown-menu{min-width:100%;display:none;position:absolute;z-index:999;left:0}.nav li:hover ul.dropdown-menu{display:block;padding:0!important;margin:-1px!important}.dropdown-menu{background-color:transparent!important;padding:0!important}marquee span{font-family: 'Raleway', sans-serif !important;font-size:18pt!important;font-weight:500!important}.education-btn,.infra,.tab .nav-tabs li a{font-family:myFirstFont}.dropdown-menu>li>a:hover{background-color:#a9a486!important}.dropdown-menu>li>a{display:block;padding:8px 15px!important;clear:both;font-weight:600;line-height:1.42857143;color:#333;white-space:nowrap;margin-right:0!important}.dropdown-menu li{background-color:#a9a486;margin-bottom:2px}.navbar-default .navbar-collapse,.navbar-default .navbar-form{border-color:transparent!important}a:focus,a:hover{text-decoration:none}.tab .nav-tabs{border-bottom:0 none;    background: #61acb7;}.tab .nav-tabs li{margin-right:13px}@font-face{font-family:myFirstFont;src:url(../fonts/GILC.ttf)}.tab .nav-tabs li a{position:relative;padding:15px;color:#000;font-size:20px;left:17px;z-index:1}.tab .nav-tabs li a:hover{background:0 0;border:1px solid transparent}.tab .nav-tabs li a:before{content:"";width:88%;height:100%;position:absolute;bottom:8px;left:-23px;font-size:17px;background:#77c8d4;border:1px solid #d3d3d3;border-bottom:0 none;border-radius:3px 10px 0 0;transform-origin:left center 0;transform:perspective(4px) rotateX(3deg);z-index:-1}.tab .nav-tabs li.active a:before{background:#61acb7}.tab .nav-tabs li.active a,.tab .nav-tabs li.active a:focus,.tab .nav-tabs li.active a:hover{border:1px solid transparent;background:0 0;color:#444;z-index:2}.tab-content .tab-pane{border:1px solid #d3d3d3;padding:20px;line-height:22px;background:#61acb7}.tab-content .tab-pane h3{margin-top:0}.nav-tabs{padding-left:0;margin-bottom:-9px!important}.nav-tabs>li>a{margin-right:-72px!important;padding:6px 89px!important}.sec-intro{position:relative;background:url(../img/schoolBG2.png) top center no-repeat;background-size:cover;height:auto;width:100%;padding-bottom:20px}.sec-intro aside{z-index:9999;height:auto;padding-bottom:0}.infra{background-color:#62707d;color:#fff;border-radius:10px;padding:5px;font-size:22px;word-spacing:0;letter-spacing:2px;width:75%;margin-left:42px}#hexagon2:after,#hexagon2:before,#hexagon3:after,#hexagon3:before,#hexagon:after,#hexagon:before{content:"";position:absolute;left:0;width:0;height:0;border-left:50px solid transparent;border-right:50px solid transparent}#hexagon,#hexagon2,#hexagon3{width:100px;height:53px;background:red}.sec-circle{margin-top:-52px;margin-left:60px}#hexagon{position:relative;padding:0 33px}#hexagon2:before,#hexagon3:before,#hexagon:before{top:-35px;border-bottom:35px solid red}#hexagon2:after,#hexagon3:after,#hexagon:after{bottom:-35px;border-top:35px solid red}#hexagon2,#hexagon3,
.icon-box img:hover{
	    box-shadow: 0px 0px 30px #000;
    text-decoration: underline;
	cursor: pointer;
	-webkit-transition: ease 1s; /* For Safari 3.1 to 6.0 */
    transition: ease 1s;
}
.icon-box h4:hover{
	   /*text-shadow: 0px 10px 4px #000;*/
    text-decoration: underline;
	cursor: pointer;
	-webkit-transition: ease 1s; /* For Safari 3.1 to 6.0 */
    transition: ease 1s;
}	
.icon-box h5:hover{
	  /*  text-shadow: 0px 10px 4px #000;*/
    text-decoration: underline;
	cursor: pointer;
	-webkit-transition: ease 1s; /* For Safari 3.1 to 6.0 */
    transition: ease 1s;
}
.last-circle-title span:hover{
	   box-shadow: 0px 0px 30px #000;
    text-decoration: underline;
	cursor: pointer;
	-webkit-transition: ease 1s; /* For Safari 3.1 to 6.0 */
    transition: ease 1s;
}

.gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #fbce59;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 2px solid #fbce59;
	
    border-radius: 4px;
}


.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #fbce59 !important;
    border: 2px solid;
}
.filter-button:hover {
    font-size: 14px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;
}

	.icon-box h4{position:relative}#hexagon2{padding:0 27px;margin-left:115px;top:-54px}#hexagon3{padding:0 15px;margin-left:58px;top:-6px}.icon-box{margin-top:40px;margin-bottom:20px;z-index:9999;padding-left:14px;margin-left:0}.icon-box h4{margin-top:30px;margin-bottom:20px;z-index:9999;font-size:16px;font-weight:600;left:10px;text-transform:uppercase}.icon-box u{font-size:13px;font-weight:600;position:absolute;top:46px;left:36%;width:80%}.icon-box h5,.last-circle-title span{font-weight:600;left:10px;text-transform:uppercase}.sec-education{padding-top:30px;position:relative;top:17px}.icon-box h5{margin-top:13px;margin-bottom:20px;z-index:9999;font-size:16px;position:relative}.sec-education-small{position:relative;top:-40px}.last-circle-title{width:145%}.last-circle-title span{font-size:12px;position:relative;top:16px;background-color:#fab91d;text-align:left;border-radius:10px;padding:8px;border:1px solid #bdbcbc}.icon-box .learn-more,.icon-box a{font-size:13px;position:relative;color:#000}#slideImg li img,#slideImgg li img{vertical-align:bottom;border:5px solid #fff}.icon-box a{top:-20px;left:33%}.icon-box .learn-more{top:20px;left:5%;font-weight:500}.multiple-img li{margin:10px}#slideImg,#slideImgg{margin:40px auto;background-color:#0F8A5F;padding:10px 20px;position:relative}#slideImg li{float:left;margin:0 12px}.zoom{transition:transform .2s}.zoom:hover{-ms-transform:scale(1.2);-webkit-transform:scale(1.2);transform:scale(1.2)}.rotate-prev{position:absolute}.marquee:hover{animation-play-state:paused}.link-list li{display:inline-block;line-height:0px;}.link-list li a img{height:20px;position:relative;top:8px;left:10px}.link-list li a{font-size:11px;color:#000;padding:0 4px;border-right:1px solid;font-family: 'Raleway', sans-serif;}.copyright-heading h4{font-size:15px;position:relative;padding-top:0px; color:#000;}.copyright-heading h4 span{font-size:14px}.education-btn{background-color:#659bb3!important;font-size:16px;letter-spacing:2px;color:#000;text-transform:uppercase;font-weight:700;margin-right:2px;display:block;padding:9px 17px!important}@media all{.featherlight-gallery2.featherlight-first-slide .featherlight-previous,.featherlight-gallery2.featherlight-last-slide .featherlight-next,.lightbox{display:none}.fl-page .footer a,.thumbnail a{text-decoration:none}.fl-page h1,.fl-page h3,.fl-page h4{font-family:HelveticaNeue-UltraLight,'Helvetica Neue UltraLight','Helvetica Neue',Arial,Helvetica,sans-serif;font-weight:100;letter-spacing:1px}.fl-page h1{font-size:110px;margin-bottom:.5em}.fl-page h1 i{font-style:normal;color:#ddd}.fl-page h1 span{font-size:30px;color:#333}.fl-page h3{text-align:right;font-size:15px}.blurb .teaser,.blurb h2{text-align:center}.fl-page h4{font-size:2em}.fl-page .jumbotron{margin-top:2em}.fl-page .btn-download{float:right;margin-top:-40px}.fl-page .btn-default{vertical-align:bottom}.fl-page .row{margin-top:2em}.fl-page .btn-lg span{font-size:.7em}.fl-page .footer{margin-top:3em;color:#aaa;font-size:.9em}.fl-page .footer a{color:#999;margin-right:.75em}.fl-page .github{margin:2em 0}.fl-page .github a{vertical-align:top}.featherlight-gallery2{background:rgba(100,100,100,.5)}.featherlight-gallery2 .featherlight-content{background:#000}.featherlight-gallery2 .featherlight-next:hover,.featherlight-gallery2 .featherlight-previous:hover{background:rgba(0,0,0,.5)}.featherlight-gallery2 .featherlight-next:hover span,.featherlight-gallery2 .featherlight-previous:hover span{font-size:25px;line-height:25px;margin-top:-12.5px;color:#fff}.featherlight-gallery2 .featherlight-close{background:0 0;color:#fff;font-size:1.2em}.blurb{display:inline-block;width:150px;height:150px}.blurb .detail{display:none}.blurb .teaser{font-style:italic}.featherlight .blurb{display:inline-block;width:500px;height:300px;color:#99f}.featherlight .blurb .detail{color:#ddf;font-size:large;display:inherit}.featherlight .blurb .teaser{display:none}}@media(max-width:768px){.fl-page h1 span{display:block}.fl-page .btn-download{float:none;margin-bottom:1em}}@media (max-width:1024px){.icon-box h4,.last-circle-title span{font-weight:600;left:10px;text-transform:uppercase}.nav-tabs>li>a,.nav>li>a{position:relative;display:block}.nav>li>a{padding:9px 17px!important}.last-circle-title span{font-size:10px;position:relative;top:22px;background-color:#fab91d;text-align:left;border-radius:10px;padding:8px;border:1px solid #bdbcbc}.icon-box h4{margin-top:30px;margin-bottom:20px;z-index:9999;font-size:14px;position:relative}.nav-tabs>li>a{padding:9px!important}marquee span{font-family:Impact;font-size:16pt}}@media (max-width:767px){.last-circle-title{width:100%}.icon-box{margin-top:50px;margin-bottom:20px;z-index:9999;padding-left:0;margin-left:0px}
.navbar-nav .open .dropdown-menu .dropdown-header, .navbar-nav .open .dropdown-menu>li>a {
    padding: 5px 15px 5px 25px;
    text-align: center;
}
.icon-box u{font-size:13px;font-weight:600;position:absolute;top:55px;left:25%;width:60%}.last-circle-title span{font-size:12px;font-weight:600;position:relative;top:22px;left:10px;background-color:#fab91d;text-align:left;border-radius:10px;padding:8px;text-transform:uppercase;border:1px solid #bdbcbc}.navbar-collapse{padding-right:0!important;padding-left:0!important}.navbar-custom ul.nav li{margin-top:5px}.sec-circle{margin-top:60px;margin-left:60px;margin-bottom:60px}.icon-box a{position:relative;top:-20px;left:25%;color:#000}.icon-box .learn-more{position:relative;top:33px;left:5%;font-size:14px;font-weight:500;color:#000}.tab-list{margin-left:-26px}#slideImg{margin:-14px auto -14px -17px;background-color:#0F8A5F;padding:10px 13px;position:relative}.nav-tabs>li>a{padding:12px 92px!important}ul.link-list {  text-align: center;}.copyright-heading h4 {    text-align: center;}ul.nav.nav-tabs {
    background: #61acb7;}.tab .nav-tabs li a {
    position: relative;
    padding: 15px;
    color: #000;
    font-size: 17px;
    left: 47px;
    z-index: 1;
}.icon-box h5{margin-top:16px;margin-bottom:15px;z-index:9999;font-size:13px;font-weight:600;position:relative;left:10px;text-transform:uppercase}}@media (max-width:400px){.icon-box h5,.last-circle-title span{font-weight:600;text-transform:uppercase}.icon-box h5{margin-top:16px;margin-bottom:15px;z-index:9999;font-size:13px;position:relative;left:10px}.sec-circle{margin-top:60px;margin-left:5px;margin-bottom:60px}.icon-box u{font-size:11px;font-weight:600;position:absolute;top:55px;left:27%;width:60%}.icon-box a{position:relative;top:-20px;left:4%;color:#000}.last-circle-title span{font-size:9px;position:relative;top:22px;left:10px;background-color:#fab91d;text-align:left;border-radius:10px;padding:8px;border:1px solid #bdbcbc}.infra{font-size:20px}.tab .nav-tabs li a:before{content:"";width:100%;height:100%;position:absolute;bottom:8px;left:-58px;font-size:17px;background:#77c8d4;border:1px solid #d3d3d3;border-bottom:0 none;border-radius:2px 21px 0 0;transform-origin:left center 0;transform:perspective(25px) rotateX(25deg);z-index:-1}.tab .nav-tabs li{width:36.5%;margin-bottom:6px;margin-right:-50px}.tab .nav-tabs li a{padding:9px 43px!important;font-size:15px}.nav-tabs>li>a{margin-right:0!important}.sec-education-small{position:relative;top:-7px;left:8px}.icon-box{margin-top:32px;margin-bottom:0;z-index:9999;padding-left:0;margin-left:0px}.last-circle-title{width:97%;margin-bottom:80px}.icon-box .learn-more{position:relative;top:29px;left:7%;font-size:12px;font-weight:500;color:#000}marquee span{font-family:unset!important;font-size:14px!important;font-weight:500!important}#navigation{background-color:#374a59;color:#fff;height:38px;background:linear-gradient(to right,#333 15%,#333 0,#333 85%,#333 0)}.navbar-brand img{height:40px;margin-top:-18px;margin-left:-50%}.navbar-brand span{background:url(../img/monogram.png) no-repeat;height:100px;position:absolute;width:70%;background-size:contain;top:-2px;left:32%}body{zoom:100%!important}}

@media (max-width:667px){
.infra {
    background-color: #62707d;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 22px;
    word-spacing: 0;
    letter-spacing: 2px;
     width: auto; 
    margin-left: 10px;
}
.tab .nav-tabs {
    border-bottom: 0 none;
    background: #61acb7;
}
.owl-prev {
    width: 50%;
    float: left;
}
.owl-next {
    width: 50%;
    float: left;
    text-align: right;
}
}


@media (max-width:480px){
.infra {
    background-color: #62707d;
    color: #fff;
    border-radius: 10px;
    padding: 5px;
    font-size: 16px;
    word-spacing: 0;
    letter-spacing: 2px;
    width: auto;
    margin-left: 0px;
}
.sec-education {
    padding-top: 20px;
    position: relative;
    top: 17px;
}
.tab .nav-tabs {
    border-bottom: 0 none;
    background: #61acb7;
}
.owl-prev {
    width: 50%;
    float: left;
}
.owl-next {
    width: 50%;
    float: left;
    text-align: right;
}
.icon-box h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    z-index: 9999;
    font-size: 12px;
    position: relative;
}
}
@media (min-width: 868px)
{
.navbar-toggle {
    display: none;
}
}

@-moz-document url-prefix() {
   .nav-tabs>li>a{margin-right:-55px!important;padding:6px 62px!important}
}